/img_save/
/client_stream_receiver/clientlog.txt
/client_stream_sender/clientlog.txt
/server/
/test.go
/peerToPeer/tcpFileTransfer/fileSample/50MB.bin
/peerToPeer/tcpFileTransfer/fileSample/50MB.bin
/peerToPeer/fileTransfer/fileSample/50MB.bin
/50MB.bin
